:root {
  --black: #0b090a;
  --white: #f1faee;
  --gray: #161a1d;
  --light-gray: #adb5bd;
  --accent: #7209b7;
  --accent-hover: #480ca8; 
}

/* Main Page */
*{
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans';
}

/* Banner */
.banner{
  background-color: var(--black);
  color:#f1faee;
  padding: 1.2rem 5rem;
}
.banner h1{
  font-weight: 500;
}
.banner h2{
  font-weight: 300;
}

/* Body */
body{
  background-color: var(--gray);
}

.container{
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: auto;
  width: 60%;
  height: 75vh;
  margin-top: 2rem;
}

/* User Counter */
.usercomponent{
  padding: 7rem;
  padding-top: 14%;
  padding-bottom: 14%;
  text-align: center;
  border-radius: 1.2rem;
  border: 5px solid;
  display:flex;
  justify-content: center;
  align-items: center;
}

.usercomponent--life{
  font-size: 2.7rem;
  font-weight: 600;
  color: var(--white);
}
